.container {
	display: flex;
	justify-content: center;
	width: 75%;
	object-fit: contain;
}
@media (max-width: 770px) {
	.container {
		display: flex;
		justify-content: center;
		width: 100% !important;
	}
}
