@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.container {
	margin: 30px 0 50px 0;
}
.card {
	margin: 0 1.8rem 0 0 !important;
}
.card:hover {
	transform: scale(1.1);
	transition: ease-in 0.5s;
	transition: ease-out 0.5s;
	cursor: pointer;
}

.infected {
	border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.active {
	border-bottom: 10px solid rgba(0, 217, 255, 0.5);
}
.iheading {
	color: rgba(0, 0, 255, 1);
}
.aheading {
	color: rgba(0, 217, 255, 1);
}

.recovered {
	border-bottom: 10px solid rgba(0, 255, 0, 0.5);
	margin-top: 20px !important;
}

.rheading {
	color: rgba(0, 255, 0, 1);
}

.deaths {
	border-bottom: 10px solid rgba(255, 0, 0, 0.5);
	margin-top: 20px !important;
}

.loading {
	font-family: Roboto;
}

@media (max-width: 770px) {
	.conatiner {
		width: 80% !important;
	}

	.card {
		width: 70% !important;
		margin: 0 !important;
		margin-left: 5px !important;
		margin-bottom: 25px !important;
		height: 220px;
	}
}
